@model IEnumerable<NguyenThanhHao_Lab456.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="course">
    @foreach (var course in Model)
    {
        <li class="row">
            <div class="date col-md-5">
                <div class="day">
                    @course.DateTime.ToString("dd") /
                </div>
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
            </div>
            <div class="details col-md-7">
                <div class="lecturer col-md-4">
                    <span class="text-primary">Lecturer:</span> @course.Lecturer.Name 
                </div>
                <div class="category col-md-8">
                    <div class="category__courseName">
                        <span class="text-primary">Course:</span> @course.Category.Name
                    </div>
                </div>
            </div>
        </li>
        <hr />
    }
</ul>
