body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse {
    background-color: #d41d50;
    border-color: #fbf6f6;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}

.course {
    list-style: none;
    margin-top: 20px;
}
.course > li {
    position: relative;
    /*margin-bottom: 25px;*/
}
.course > li button {
    margin-right: 15px;
}
.course > li .date {
    text-align: center;
    background-color: #d41d50;
    color: white;
    width: 60px;
    border-radius: 8px;
}
.course > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}
/*.course .details .lecturer, .category {
    display: inline;
}*/
/*.course .details .category {
    padding-left: 5px;
}*/
.month, .day {
    display: inline;
}
.date {
    padding: 6px 0 6px 0;
}
.category {
    padding-left: 0;
}
.lecturer {
    padding-right: 0;
}
.category__course {
    padding: 0;
}
.category__courseName, .lecturer_name {
    padding-right: 0;
}
.lecturer_following {
    padding-left: 0;
}